.social-links {
         display: flex;
    gap: 10px;
    justify-content: space-between;

  &__item {display: flex;
    padding: 5px;
    border-radius: 50%;
    
    &:hover {
      transform: translateY(-1px);
    }

    svg {
      width: 30px;
    height: 30px;
    fill: currentColor;
    }
  }

  &--light {
    color: var(--color-surface);

    .social-links__item {
      background: var(--color-surface);
    }
  }
}
