.social-links {
         display: flex;
    gap: 10px;
    justify-content: space-between;

  &__item {
        display: flex;
    padding: 3px;
    border-radius: 50%;

    &:hover {
      transform: translateY(-1px);
    }

    svg {    width: 20px;
    height: 20px;
    fill: currentColor;
    }
  }

  &--light {
    color: var(--color-surface);

    .social-links__item {
      background: var(--color-surface);
    }
  }
}
